


<section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-400 bg-content text-white" [ngStyle]="{'background-image':   'url(' + 'assets/img/photos/bg4.jpg' + ')'}">
  <div class="container pt-18 pb-16" style="z-index: 5; position:relative">
    <div class="row gx-0 gy-12 align-items-center">
      <div class="col-md-10 offset-md-1 offset-lg-0 col-lg-6 content text-center text-lg-start" >
        <h1 style="text-align: center;" class="display-2 mb-5 text-red"> WHO ARE WE 2 :  Vide</h1>


      </div>
      <!--/column -->
      
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
